.signMessage {
  padding-bottom: 20px;
}

.inputMessage {
  max-width: 500px;
}

.textSignature {
  padding-bottom: 20px;
}

.buttonSign {
  margin-bottom: 20px;
}

.custom_label {
  width: 110px;
  text-align: left;

}

.buttonSign {
  margin-left: 120px;
}
